<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <% result.forEach(function(user){ %>
        <tr>
            <td ><img src="<%= user.image%>" width="300" alt=""></td>
            <td><%= user.name%></td>
            <td>price <%= user.price%></td>
           
        </tr>
        <% }); %>
        <tr>
            <td><%= total%></td>
        </tr>
    </table>
</body>
</html>